<h1>Listado de eventos</h1>


{{!-- <section class="events-list-section">
  {{#if getTodayEvents}}
    {{#with getTodayEvents as list}}
      <h3>Eventos de hoy</h3>
      {{partial "eventsList"}}
    {{/with}}
  {{/if}}

  {{#with comingEvents as list}}
    <h3>Próximos eventos</h3>
    {{#if comingEvents}}
      {{partial "eventsList"}}
    {{else}}
      No hay ningún evento aún. {{#linkTo events.new}}¿Quieres crear uno?{{/linkTo}}
    {{/if}}
  {{/with}}
</section> --}}


<section class="events-list-section">
  {{#if todayEvents}}
    {{#with todayEvents as list}}
      <h3>Eventos de hoy</h3>
      {{partial "eventsList"}}
    {{/with}}
  {{/if}}

  {{#with paginatedEvents as list}}
    <h3>Próximos eventos</h3>
    {{#if paginatedEvents}}
      {{partial "eventsList"}}
    {{else}}
      No hay ningún evento aún. {{#linkTo events.new}}¿Quieres crear uno?{{/linkTo}}
    {{/if}}
  {{/with}}
</section>

<div class="pagination pagination-centered">
  <ul id="pagination-boxes" class="pagination">
    <li {{action previousPage target="controller"}}><a href="#">&laquo;</a></li>
    {{#each p in pagesIndex}}
      {{#view App.PaginationBox}}
        <a {{action changePage p.id target="controller"}}>
          {{p.label}}
        </a>
      {{/view}}
    {{/each}}
    <li {{action nextPage target="controller"}}><a href="#">&raquo;</a></li>
  </ul>
</div>



{{partial "eventsModal"}}
