<h1>Listado de eventos</h1>

<section class="events-list-section">
  <ul>
    {{#each e in controller}}

    <li class="events-list">
      <span class="span6">
        <span class="span4 event-title">{{e.title}}</span>
        <span class="event-attending">Asistiran * personas</span>
      </span>
      <span class="event-button-box">
        {{#if isAttending}}
          <button class="btn btn-warning"><i class="icon-minus icon-white"></i> No asistiré</button>
        {{else}}
          <button class="btn btn-success"><i class="icon-plus icon-white"></i> Asistiré</button>
        {{/if}}
      </span>

      <span class="event-button-box">
        <!--button class="btn btn-info"><i class="icon-eye-open icon-white"></i> Más info</button-->
        <a href="#more-info-event" role="button" class="btn btn-info" data-toggle="modal"><i class="icon-eye-open icon-white"></i> Más info</a>
      </span>

      <span class="event-button-box">
        {{#if e.isOwner}}
          <button class="btn btn-danger"><i class="icon-trash icon-white"></i> Borrar</button>
        {{/if}}
      </span>
    </li>
    {{/each}}
  </ul>
</section>



<div id="more-info-event" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Cambiar contraseña</h3>
  </div>
  <div class="modal-body">
    <section class="left-column">
      <div {{bindAttr class=":control-group passwordError:error"}}>
        <label for="current-password-id-profile" class="control-label">Contraseña actual</label>
        {{view Ember.TextField type="password" valueBinding="password" id="current-password-id-profile"}}
      </div>
    </section>

    <section class="right-column">
      <div {{bindAttr class=":control-group passwordError:error"}}>
        <label for="new-password-id-profile" class="control-label">Contraseña nueva</label>
        {{view Ember.TextField type="password" valueBinding="password" id="new-password-id-profile"}}
      </div>

      <div {{bindAttr class=":control-group passwordConfirmationError:error"}}>
        <label for="new-password-confirmation-id-profile" class="two-lines-label control-label">Confirmar contraseña nueva</label>
        {{view Ember.TextField type="password" valueBinding="passwordConfirmation" id="new-password-confirmation-id-profile"}}
      </div>
    </section>
  </div>
  <div class="modal-footer">
    <div>
      <button class="btn btn-success">Aceptar</button>
      <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    </div>
  </div>
</div>

