<h1>Listado de eventos</h1>

<section class="events-list-section">
  <ul>
    {{#each e in controller}}
      <li class="events-list">
        <span class="span6">
          <a href="#more-info-event" data-toggle="modal" class="span4 event-title" {{action setCurrentEvent e target="controller"}}>{{e.title}}</a>
          <span class="event-attending">Asistiran * personas</span>
        </span>
        <span class="event-button-box">
          {{#if isAttending}}
            <button class="btn btn-warning"><i class="icon-minus icon-white"></i> No asistiré</button>
          {{else}}
            <button class="btn btn-success"><i class="icon-plus icon-white"></i> Asistiré</button>
          {{/if}}
        </span>

        <span class="event-button-box">
          <a href="#more-info-event" role="button" class="btn btn-info" data-toggle="modal" {{action setCurrentEvent e target="controller"}}><i class="icon-eye-open icon-white"></i> Más info</a>
        </span>

        <span class="event-button-box">
          {{#if e.isOwner}}
            <button class="btn btn-danger"><i class="icon-trash icon-white"></i> Borrar</button>
          {{/if}}
        </span>
      </li>

    {{/each}}
  </ul>
</section>



<div id="more-info-event" class="modal hide fade" tabindex="-1" role="dialog">
  {{#with controller.currentEvent}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>{{title}}</h3>
  </div>
  <div class="modal-body">
      <div>
        <label for="date-label" class="control-label">Fecha</label>
        <span>{{date}} <span class="days-left">({{daysLeft date}})</span></span>
      </div>

      <div>
        <label for="place-label" class="control-label">Lugar</label>
        {{#if place}}        
          <span>{{place}}</span>
        {{else}}
          <span>Lugar no especificado</span>
        {{/if}}
      </div>

      <div>
        <label for="description" class="control-label">Descripción</label>
        {{#if description}}
          <span>{{description}}</span>
        {{else}}
          <span>Sin descripción</span>
        {{/if}}
      </div>

      <div>
        <label for="created-by" class="control-label">Creado por</label>
        <span>{{user.fullName}}</span>
      </div>

      <div>
        <label for="attending-people" class="control-label">Número de asistentes</label>
        <span>*</span>
      </div>
  </div>
  <div class="modal-footer">
    <div>
      <button class="btn btn-success" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
  {{/with}}
</div>
