<h1>Mi perfil</h1>

{{#each e in model.nameError}}
  <div class="alert alert-danger">{{e}}</div>
{{/each}}

{{#each e in model.surnameError}}
  <div class="alert alert-danger">{{e}}</div>
{{/each}}

{{#each e in model.emailError}}
  <div class="alert alert-danger">{{e}}</div>
{{/each}}

{{#each e in model.genderError}}
  <div class="alert alert-danger">{{e}}</div>
{{/each}}

{{#each e in model.ageError}}
  <div class="alert alert-danger">{{e}}</div>
{{/each}}

{{#each e in model.passwordError}}
  <div class="alert alert-danger">{{e}}</div>
{{/each}}



<section class="profile-form">
  <section class="left-column">
    <div {{bindAttr class=":control-group nameError:error"}}>
      <label for="name-id-profile" class="control-label">Nombre</label>
      {{#if isEditing}}
        {{view App.EditProfileView valueBinding="model.name"}}
      {{else}}
        <div class="info-div">{{model.name}}</div>
      {{/if}}
    </div>  

    <div {{bindAttr class=":control-group surnameError:error"}}>
      <label for="surname-id-profile" class="control-label">Apellidos</label>
      {{#if isEditing}}
        {{view App.EditProfileView valueBinding="model.surname"}}
      {{else}}
        <div class="info-div">{{model.surname}}</div>
      {{/if}}
    </div>

    <div {{bindAttr class=":control-group emailError:error"}}>
      <label for="email-id-profile" class="control-label">Email</label>
      {{#if isEditing}}
        {{view App.EditProfileView valueBinding="model.email"}}
      {{else}}
        <div class="info-div">{{model.email}}</div>
      {{/if}}
    </div>
  </section>

  <section class="right-column">
    <div {{bindAttr class=":control-group isEditing:radio-div genderError:error"}}>
      <label class="control-label">Sexo</label>
      {{#if isEditing}}
        <label>
          {{view Ember.RadioButton name="gender-group" selectionBinding="model.gender" value="male"}}
          Masculino
        </label>
        
        <label>
          {{view Ember.RadioButton name="gender-group" selectionBinding="model.gender" value="female"}}
          Femenino
        </label>
      {{else}}
        <div class="info-div">{{beautifyGender model.gender}}</div>
      {{/if}}
      
    </div>

    <div {{bindAttr class=":control-group ageError:error"}}>
      <label for="age-id-profile" class="control-label">Edad</label>
      {{#if isEditing}}
        {{view App.EditProfileView valueBinding="model.age"}}
      {{else}}
        <div class="info-div">{{model.age}}</div>
      {{/if}}
    </div>

    <div class="control-group passwordError:error"}}>
      <label {{bindAttr class=":control-label"}}>Contraseña</label>
      {{#if isEditing}}
        {{view App.EditProfileView valueBinding="model.password"}}
      {{else}}
        <a href="#password-change-modal" role="button" {{bindAttr class=":btn isEditing:disabled"}} data-toggle="modal">Cambiar contraseña</a>
      {{/if}}
    </div>
  </section>
  <div>
    {{#if isEditing}}
      <button {{action updateUser}} class="btn btn-success">Aceptar</button>
      <button {{action cancelEdition}} class="btn btn-danger">Cancelar</button>
    {{else}}
      <button {{action editProfile}} class="btn btn-warning">Modificar</button>
      <button {{action deleteUser}} class="btn btn-danger">Eliminar cuenta</button>
    {{/if}}
  </div>
</section>


<div id="password-change-modal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Cambiar contraseña</h3>
  </div>
  <div class="modal-body">
    <section class="left-column">
      <div {{bindAttr class=":control-group passwordError:error"}}>
        <label for="current-password-id-profile" class="control-label">Contraseña actual</label>
        {{view Ember.TextField type="password" valueBinding="password" id="current-password-id-profile"}}
      </div>
    </section>

    <section class="right-column">
      <div {{bindAttr class=":control-group passwordError:error"}}>
        <label for="new-password-id-profile" class="control-label">Contraseña nueva</label>
        {{view Ember.TextField type="password" valueBinding="password" id="new-password-id-profile"}}
      </div>

      <div {{bindAttr class=":control-group passwordConfirmationError:error"}}>
        <label for="new-password-confirmation-id-profile" class="two-lines-label control-label">Confirmar contraseña nueva</label>
        {{view Ember.TextField type="password" valueBinding="passwordConfirmation" id="new-password-confirmation-id-profile"}}
      </div>
    </section>
  </div>
  <div class="modal-footer">
    <div>
      <button class="btn btn-success">Aceptar</button>
      <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    </div>
  </div>
</div>