<h1>Entrar</h1>

{{#if flagSignedUp}}
  <div class="alert alert-success">Enhorabuena, tu cuenta se ha creado correctamente</div>
{{/if}}

{{#if flagNotLoggedIn}}
  <div class="alert alert-warning">Tienes que entrar en tu cuenta primero</div>
{{/if}}

{{#if flagInvalidAuthentication}}
  <div class="alert alert-error">Combinación de email/contraseña incorrecta</div>
{{/if}}

<form {{action login on="submit"}}>
  <section class="sign-in-form">
    <div {{bindAttr class=":control-group emailError:error"}}>
      <label for="email-id-sign-in" class="control-label">Email</label>
      {{view Ember.TextField valueBinding="email" id="email-id-sign-in"}}
    </div>

    <div {{bindAttr class=":control-group emailError:error"}}>
      <label for="password-id-sign-in" class="control-label">Contraseña</label>
      {{view Ember.TextField valueBinding="password" type="password" id="password-id-sign-in"}}
    </div>

    <div class="submit-div">
      <button type="submit" class="btn btn-success">Entrar</button>
      {{#linkTo app}}
        <button class="btn btn-danger">Cancelar</button>
      {{/linkTo}}
    </div>
  </section>

  Id del usuario: {{userId}}
  Login error? : {{loginError}}
</form>